# Test result

8 passed, 2 warnings.
